
header h1{ font-family: 'Major Mono Display', monospace;
color: aliceblue;
background-color: brown;
text-align: center;
font-size: 40px;}

hr{
margin-left: 219px;
margin-right: 233px;
padding: 10px;
background-color: black;
}

main div.text{
font-family: 'Major Mono Display', monospace;
display: inline-block;
text-align: center;
background-color: coral;
font-size: 15px;
width: 250px;
padding-left: 30px;
padding-right: 30px;
border-right: 80px;
margin-bottom: 100px;
margin-left: 220px;
}
main div.text2{
    font-family: 'Major Mono Display', monospace;
    display: inline-block;
    text-align: center;
    background-color: coral;
    font-size: 15px;
    width: 250px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 80px;
    margin-bottom: 100px;
    }

main div.image{
    text-align: center;
    height: 250px;
    width: 250px;
    display: inline-block;
    position: absolute;
    margin-left: 4px;
}


p{
    text-align: left;
}
#gray-box{
    color: gray;
    text-align: left;

}



footer{background-color: brown;
padding: 60px;
border: 20px;}
